<headroom tolerance='4' offset="80">
    <nav class="atnavbar" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="no-style no-padding navbar-brand" ui-sref="{{brand.state}}" ng-include="brand.template">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="tab in tabs"><a class="no-style" ui-sref="{{tab.state}}">{{tab.name}}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="tab in rightTabs"><a class="no-style" ui-sref="{{tab.state}}">{{tab.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</headroom>
<div at-nav-spacer></div>