.headroom {
  width: 100%;
  position: fixed;
  z-index: 16;
  transition: transform 125ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
