///////////////////
//UTILITY CLASSES//
///////////////////
//Set default height or minimum height to content
@mixin def-minheight($defheight) {
    height: $defheight;
    min-height: min-content;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
}
//Center objects
@mixin pseudo-center($center-object) {
    text-align: center;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }
    #{$center-object}{
        display: inline-block;
        vertical-align: middle;
    }
}