///////////////////
//UTILITY CLASSES//
///////////////////
//Set default height or minimum height to content
@mixin def-minheight($defheight) {
    height: $defheight;
    min-height: min-content;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
}
//Center objects
@mixin pseudo-center($center-object) {
    text-align: center;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }
    #{$center-object}{
        display: inline-block;
        vertical-align: middle;
    }
}

@mixin animation($animation) {
    animation: #{$animation};
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
}

@mixin transform($exec) {
    transform: #{$exec};
    -webkit-transform: #{$exec};
    -moz-transform: #{$exec};
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    } 
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }  
}